[submodule "pybind11"]
	path = pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "robotpy-wpilib"]
	path = robotpy-wpilib
	url = https://github.com/robotpy/robotpy-wpilib.git
[submodule "allwpilib"]
	path = allwpilib
	url = https://github.com/wpilibsuite/allwpilib.git
